#https://stackoverflow.com/questions/28097064/dockerignore-ignore-everything-except-a-file-and-the-dockerfile

# Ignore Everything
**

!pypfopt
!tests
!setup.py
!README.md
!requirements.txt
!binder
!cookbook

**/__pycache__
**/*.pyc
