*.pyc
.idea
build
sandbox

tests/dockerfiles/
.tox/
docs/_build/
media/logo_design/
DEV/
.pytest_cache/
.vscode/

pip-selfcheck.json

html-coverage
html-report

.~lock.*
*.dot
*.svg


dist
*egg-info

*/.ipynb_checkpoints

*/__pycache__
*/*.pyc
.ipynb_checkpoints

.eggs

artifacts

