[[source]]
url = "https://pypi.org/project/pyportfolioopt/"
name = "pypi"

[packages]
numpy = "^=1.17.3"
scipy = "^=1.3.2"
pandas = "^0.25.3"
cvxpy = "^1.0.28"

[dev-packages]
pytest = "^4.6"

[requires]
python_version = "^3.6"
