atomicwrites>=1.1.5
attrs>=18.1.0
more-itertools>=4.2.0
noisyopt>=0.2.2
numpy>=1.14.3
pandas>=0.21.0
pluggy>=0.6.0
pulp>=1.6.9
py>=1.5.3
pytest>=3.6.0
python-dateutil>=2.7.3
pytz>=2018.4
scikit-learn>=0.19.1
scipy>=1.1.0
six>=1.11.0
